* a{
    text-decoration: none;
}
.table h6{
    font-size: 15px;
    font-weight: 450;
}
#sound{
    background-color: black;
    color: white;
}
#sound #sound-text{
    margin-top: 10%;
}
.container {
    position: relative;
    text-align: center;
    color: white;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 
.end{
    background-color: rgb(224, 224, 224);
    font-size: 15px;
    font-weight: lighter;
    color: rgb(123, 121, 121);
}
#edu a:hover{
    text-decoration: underline;
}